body {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    overflow-x: hidden;
    height: 100%;
    
}


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    line-height: 30px;
}


