body {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    overflow-x: hidden;
    height: 100%;
}


* {
    margin: 0;
    letter-spacing: .05rem;
    box-sizing: border-box;
    padding: 0;
    line-height: 30px;
}
