.btn {
    padding: 10px 40px;
    color: #fff;

    &__color {
        background-image: linear-gradient(to right, #48809E, #8004BF);
        color: #fff;
    }

    &__color-purple {
        color: #8004BF; 
    }
    
}
.form-control {
    border-radius: 20px 0 0 20px;
    color: #fff;
    text-align: left;
}