#large-hero {
    background-image: linear-gradient(45deg, #716AE4, #9B128D, #D7246C);
    height: 830px;
    position: relative;

    @mixin atSmall{
        height: 730px;

    }
}

.brand-container {

    display: inline-block;
    width: 6rem;
    position: relative;

    a {
        display: inline-block;

    }

    .letter-space {
        letter-spacing: 5px;

    }

    .position {
        position: absolute;
        bottom: -1em;
        left: 0em;
    }
}

.brand-font-size {
    font-size: 1.3em;
}

.jumbotron {
    z-index: 3;
}

.letter-space-sm {
    letter-spacing: 2px;
}

.navbar-font-size {
    font-size: 0.9em;
}


.hero-man {
    position: absolute;
    top: -100px;
    left: 200%;

    &__image {
        display: none;

        @mixin atSmall{
            display: block;
            height: 872px;

        }

        @mixin atMedium {
            height: 770px;

        }

        @mixin atLarge {
            height: 768px;

        }
    }
}

.hero-woman {
    position: absolute;
    top: -250px;
    left: 130%;
    z-index: 0;

    &__image {

        display: none;

        @mixin atSmall {
            display: block;

            height: 872px;

        }

        @mixin atMedium {
            height: 920px;

        }

        @mixin atLarge {
            height: 918px;

        }

    }
}