#main-features {

    .features-content {
        transform: translateY(50%);

    }

    .features-flex {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 330px;
        align-items: center;


        &__item {
            flex: 1;
            min-height: 330px;

        }
    }

    .background-image {

        max-width: 100%;
    

        &__first {
            background-image: linear-gradient(to right, #D7246C, #8004BF), url('assets/images/main-features-etrend.jpg');
           
        }

        &__middle {
            background-image: url('/assets/images/main-features-edzesterv.jpg');

        }

        &__third {
            background-image: url('/assets/images/main-features-fit-csomag.jpg');

        }
    }

}