.image {
    max-width: 100%;

    &__first {
        background-image: url('assets/images/main-features-edzesterv&team.jpg');
        background-size: cover;
    }

    &__second {
        background-image: url('assets/images/team2.jpg');
        background-size: cover;
    }

    &__third {
        background-image: url('assets/images/team3.jpg');
        background-size: cover;
    }

    &__fourth {
        background-image: url('assets/images/team4.jpg');
        background-size: cover;
    }
}

.team-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    &__item {
        flex: 1;
        min-height: 350px;
        
    }
}